<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Main page</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">


    <style>

    #description{
    font-size: 12pt;
    }

    </style>
  </head>

  
  <body>
    
<header> 
  <div class="navbar navbar-light" style="background-color: #BBC6C8;">
    <div class="container-fluid d-flex align-items-center">
      <h3 class="d-flex align-items-center fs-4 text-dark mb-0">
      </h3>
      <a class="btn btn-light" href="#contact"><TT>О нас</TT></a>
    </div>
  </div>
</header>


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><TT>Russian print XVIII cent</TT></h1>
        <p class="lead text-muted" id="description"><TT>Проект по разпознаванию русскоязычных печатных текстов XVIII века.<br>В галерее вы найдете книги, распознанные с помощью модели<br>Russian print XVIII cent.<br>О том, как натренировать свою модель, читайте в разделе "О модели".</TT></p>
        <p>
          <a class="btn btn-primary my-2" href="aboutmodel">О модели</a>
        </p>
      </div>
    </div>
  </section>
   
  
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-10">
        <div class="col">
          <div class="card shadow-sm">
            <img class="post__elem_photo-img post__elem_photo-img--fit" src="../static/img/opisanie_lagerya_sobrannogo.png"></img>
            <div class="card-body">
              <p class="card-text">Описание лагеря, собранного под высочайшею Ея Императорского Величества собственною командою при Красном селе с объяснением, какие при том были намерения, и что по тому каждого дня достопамятного происходило</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="opisanie_lagerya_sobrannogo">Читать</a>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="post__elem_photo-img post__elem_photo-img--fit" src="../static/img/kto_mojhet_byt_dobrym_grazhdaninom.jpg"></img>

            <div class="card-body">
              <p class="card-text">Кто может быть добрым гражданином и верным подданным?</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="kto_mojhet_byt_dobrym_grazhdaninom">Читать</a>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  


</main>

<footer class="text-muted py-5" style="background-color: #BBC6C8;">
   <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
   <p><a name="contact"></a></p>
  <div class="container">
    <p class="mb-1">&copy; Russian print XVIII cent PyLaia, 2023 <br>Мы команда создателей модели Russian print XVIII cent PyLaia на платформе Transkribus</p>
    <ul class="list-unstyled">
      <li><a href="https://github.com/PolinaStaroverova/Russian-print-XVIII-cent_Transkribus.git" class="text-whiфпкфte">Наш репозиторий на GitHub</a></li>
      <li><a href="https://readcoop.eu/model/russian-print-xviii-cent/" class="text-whiфпкфte">Наша модель на сайте Transkribus</a></li>
    </ul> 
  </div>
</footer>


    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

      
  </body>
</html>
